
.pandas{
  display: grid;
  background-color: #ff6666;
  grid-template-rows: 200px 400px 300px 400px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header header header"
                       "main1 main1 main1 main1 main1 main1"
                       "main2 main2 main2 main2 main2 main2"
                       "main3 main3 main3 main3 main3 main3"
                       "main4 main5 main6 main7 main8 main9"
                       "footer footer footer footer footer footer";
  grid-gap: 10px;
}

header {
  grid-area: header;
  color: white;
}

main1 {
  grid-area: main1;
  background-image: url("img/uno.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}



main2 {
  grid-area: main2;
  background-color: #1aff66;
}

main3 {
  grid-area: main3;
  background-image: url("img/dos.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
main4 {
  grid-area: main4;
  display: flex;
  justify-content: space-around;
  background-color: #1aff66;
}
main5 {
  grid-area: main5;
  background-image: url("img/tres.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
